$def with(entities)
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="author" content="zuohaitao" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="/favicon.ico"/>
<title>微信公众账号 - 猪火腿</title>
</head>
<body>
<div class="container">
<div class="nav">
<a href="http://codepongo.com/blog">主页</a>
<a href="http://app.codepongo.com">应用</a>
<a href="http://note.codepongo.com" target="_blank">日记</a>
<a href="http://cook.codepongo.com" target="_blank">烹饪</a>
<a href="http://news.codepongo.com" target="_blank">新闻</a>
<a href="http://me.codepongo.com">关于我</a>
</div>
<div id="foot">
	<b>(cc) BY-NC-SA</b><br/>Powered by <a href="https://github.com/codepongo/weixin">weixin</a>
</div>
</div>
</body>
</html>
